In [2]:
import numpy as np
import pandas as pd
import pyodbc

In [2]:
import pyodbc 
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=SBD01-TEST;'
                      'Database=Andrzej;'
                      'Trusted_Connection=yes;')

cursor = conn.cursor()
cursor.execute('SELECT * FROM Andrzej.dbo.tab1')


for row in cursor:
    for i in range(0,6):
        print(row)
    break

# conn.close()
# cursor.close()

('179', '87774274', '2018-12-20', '2018-12-28', '2019-01-01', '434.88', '0110', '331')
('179', '87774274', '2018-12-20', '2018-12-28', '2019-01-01', '434.88', '0110', '331')
('179', '87774274', '2018-12-20', '2018-12-28', '2019-01-01', '434.88', '0110', '331')
('179', '87774274', '2018-12-20', '2018-12-28', '2019-01-01', '434.88', '0110', '331')
('179', '87774274', '2018-12-20', '2018-12-28', '2019-01-01', '434.88', '0110', '331')
('179', '87774274', '2018-12-20', '2018-12-28', '2019-01-01', '434.88', '0110', '331')

In [6]:
# copy table
connection = pyodbc.connect('Driver={SQL Server};'
                      'Server=SBD01-TEST;'
                      'Database=Andrzej;'
                      'Trusted_Connection=yes;')
cursorcoputable = connection.cursor()
cursorcoputable.execute('SELECT * INTO [Andrzej].[dbo].[EME_EME_COPY] FROM  [Andrzej].[dbo].[EME_EME]')
cursorcoputable.commit()
# connection.close()
# cursorcoputable.close()

In [7]:
# select 5 rows in table
con = pyodbc.connect('Driver={SQL Server};'
                      'Server=SBD01-TEST;'
                      'Database=Andrzej;'
                      'Trusted_Connection=yes;')

cur = con.cursor()
cur.execute('SELECT * FROM [Andrzej].[dbo].[EME_EME_COPY]')

for row in cursor:
    for i in range(0,6):
        print(row)
    break
# con.close()
# cur.close()

('179', '192842103', '2018-12-01', '2018-12-07', '2019-01-01', '338.24', '0110', '331')
('179', '192842103', '2018-12-01', '2018-12-07', '2019-01-01', '338.24', '0110', '331')
('179', '192842103', '2018-12-01', '2018-12-07', '2019-01-01', '338.24', '0110', '331')
('179', '192842103', '2018-12-01', '2018-12-07', '2019-01-01', '338.24', '0110', '331')
('179', '192842103', '2018-12-01', '2018-12-07', '2019-01-01', '338.24', '0110', '331')
('179', '192842103', '2018-12-01', '2018-12-07', '2019-01-01', '338.24', '0110', '331')

In [3]:
# Drop table
condroptable = pyodbc.connect('Driver={SQL Server};'
                      'Server=SBD01-TEST;'
                      'Database=Andrzej;'
                      'Trusted_Connection=yes;')
cursordroptable = condroptable.cursor()
cursordroptable.execute('DROP TABLE [Andrzej].[dbo].[EME_EME_COP]')
cursordroptable.commit()

In [5]:
# add columns
concol = pyodbc.connect('Driver={SQL Server};'
                      'Server=SBD01-TEST;'
                      'Database=Andrzej;'
                      'Trusted_Connection=yes;')

curcol = concol.cursor()
curcol.execute('''
ALTER TABLE [Andrzej].[dbo].[EME_EME_COPY]
ADD [ilosc_dni] int,
    [do_usuniecia] int
                ''')

curcol.commit()

In [7]:
# drop columns
concol = pyodbc.connect('Driver={SQL Server};'
                      'Server=SBD01-TEST;'
                      'Database=Andrzej;'
                      'Trusted_Connection=yes;')

curcol = concol.cursor()
curcol.execute('''
ALTER TABLE [Andrzej].[dbo].[EME_EME_COPY]
DROP COLUMN [ilosc_dni],
            [do_usuniecia]
                ''')

curcol.commit()

In [10]:
# serching and create table
concol = pyodbc.connect('Driver={SQL Server};'
                      'Server=SBD01-TEST;'
                      'Database=Andrzej;'
                      'Trusted_Connection=yes;')

curcol = concol.cursor()
curcol.execute('''
SELECT [ID konta CRU]
      ,[Kod tytułu ubezpieczenia] into [Andrzej].[dbo].[EME_EME_COPY_PUST]
  FROM [Andrzej].[dbo].[EME_EME_COPY] as E
  WHERE E.TJO is null
                ''')

curcol.commit()

ProgrammingError: ('42S01', "[42S01] [Microsoft][ODBC SQL Server Driver][SQL Server]There is already an object named 'EME_EME_COPY_PUST' in the database. (2714) (SQLExecDirectW)")

In [11]:
# 
concol = pyodbc.connect('Driver={SQL Server};'
                      'Server=SBD01-TEST;'
                      'Database=Andrzej;'
                      'Trusted_Connection=yes;')

curcol = concol.cursor()
curcol.execute('''
Select * into EME_EME_COPY_PUST_MC
From (
SELECT [ID konta CRU],[Kod tytułu ubezpieczenia],F3
  FROM EME_EME_COPY_PUST as E join MC2 as M2
  on (E.[ID konta CRU] = M2.F1 )  and (E.[Kod tytułu ubezpieczenia] = M2.F2)

  UNION

  SELECT [ID konta CRU],[Kod tytułu ubezpieczenia],F3
  FROM EME_EME_COPY_PUST as E join MC1 as M1
  on (E.[ID konta CRU] = M1.F1 )  and (E.[Kod tytułu ubezpieczenia] = M1.F2) 
  ) as A
                ''')

curcol.commit()

In [12]:
# 
concol = pyodbc.connect('Driver={SQL Server};'
                      'Server=SBD01-TEST;'
                      'Database=Andrzej;'
                      'Trusted_Connection=yes;')

curcol = concol.cursor()
curcol.execute('''
SELECT [Column 0]
      ,[Column 1]
      ,CASE WHEN LEN([Column 1])=6 THEN CAST(LEFT([Column 1],2)as varchar(2))
           else CONCAT( 0 , CAST(LEFT([Column 1],1) as varchar(2)) )
      END as TJO into TJO_TJO

FROM [TJO]
                ''')

curcol.commit()

In [13]:
# 
concol = pyodbc.connect('Driver={SQL Server};'
                      'Server=SBD01-TEST;'
                      'Database=Andrzej;'
                      'Trusted_Connection=yes;')

curcol = concol.cursor()
curcol.execute('''
SELECT * into MC
FROM (
SELECT *
  FROM [Andrzej].[dbo].[MC1]

union

SELECT *
  FROM [Andrzej].[dbo].[MC2] ) as tab
                ''')

curcol.commit()

In [14]:
# 
concol = pyodbc.connect('Driver={SQL Server};'
                      'Server=SBD01-TEST;'
                      'Database=Andrzej;'
                      'Trusted_Connection=yes;')

curcol = concol.cursor()
curcol.execute('''
SELECT [ID konta CRU]
      ,[Kod tytułu ubezpieczenia]
      ,[F3]
      ,T.TJO
      ,klucz.[Nazwa TJO] into EME_EME_COPY_PUST_MC_WYNIK
  FROM ([EME_EME_COPY_PUST_MC] AS EMC left join [TJO_TJO] as T
  on    LTRIM(EMC.[F3]) = T.[Column 0] ) left join [EME_klucz] AS klucz
  on    T.TJO = klucz.TJO
                ''')

curcol.commit()

In [17]:
import bcpy